@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --container-size: 
}

body {
  font-family: "Noto Sans", sans-serif;
}

ul {
  list-style-type: none;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #1f2937;
  padding: 0.5rem 0;
}



.header-container {
  max-width: 1200px;
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-container h3 {
  font-size: 24px;
  color: #f9faf8;
}

.header-container ul {
  display: flex;
  gap: 40px;
}

.header-container ul li {
  color: #e5e7eb;
  font-size: 18px;
}

.hero {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #1f2937;
}

.hero-container {
  display: flex;
  justify-content: space-between;
  width: 80%;
  max-width: 1200px;
  margin: 100px 0;
  height: 300px;
}

.hero-text {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.hero-text h1 {
  font-size: 48px;
  font-weight: bold;
  color: #f9faf8;
}

.hero-text p {
  font-size: 18px;
  color: #e5e7eb;
}

.hero-text button,
.cta-container button {
  background-color: #3882f6;
  padding: 8px 20px;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  color: #e5e7eb;
  font-weight: bold;
}

.image-placeholder {
  width: 50%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.199);
  display: flex;
  align-items: center;
  justify-content: center;
}

.image-placeholder p {
  color: #e5e7eb;
  text-align: center;
}

.information {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.information h2 {
  font-size: 36px;
  font-weight: bold;
  text-align: center;
  color: #1f2937;
  margin: 30px 0;
}
.container {
  display: flex;
  justify-content: space-between;
  width: 80%;
  max-width: 1200px;
  margin-bottom: 30px;
}

.information-container {
  display: flex;
  flex-direction: column;
  width: 200px;
  height: auto;
}

.information-image {
  width: 100%;
  height: 200px;
  border: 4px solid #1f2937;
  border-radius: 4px;
}

.quote {
  background-color: #e5e7eb;
  padding: 50px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.quote h2 {
  color: #1f2937;
  font-size: 36px;
  font-style: italic;
  font-weight: lighter;
}

.quote small {
  font-size: 20px;
  font-weight: bold;
  text-align: right;
  margin-top: 20px;
  align-self: flex-end;
}

.quote-container {
  width: 80%;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px 0;
}

.call-to-action {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 90px 0;
}

.cta-container {
  width: 800px;
  padding: 30px 50px;
  max-width: 1200px;
  display: flex;
  background-color: #3882f6;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
}

.cta-text-container h4 {
  font-size: 20px;
  color: #f9faf8;
}

.cta-text-container p {
  font-size: 16px;
  color: #e5e7eb;
}

.cta-container button {
  border: 2px solid #f9faf8;
}

footer {
  background-color: #1f2937;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #e5e7eb;
  padding: 20px 0;
}