@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --container-max-size: 1200px;
  --main-color: #111111;
  --secondary-color: #525252;
  --text-color: #f9faf8;
  --text-secondary-color: #cacaca;
}

body {
  font-family: "Noto Sans", sans-serif;
}

ul {
  list-style-type: none;
}

header,
.hero,
footer {
  background-color: var(--main-color);
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem 0;
  width: 100%;
  position: fixed;
}

.content-container {
  max-width: 1200px;
  width: 80%;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-placeholder {
  height: 2rem;
  width: 2rem;
  background-color: var(--text-secondary-color);
  border-radius: 50%;
  margin-right: 0.5rem;
}

.header-container h3 {
  font-size: 24px;
  color: var(--text-color);
}

.header-container ul {
  display: flex;
  gap: 40px;
}

.header-container ul li {
  color: var(--text-secondary-color);
  font-size: 18px;
}

main {
  padding-top: 3rem;
}

.hero {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 100px 0;
}

.hero-container {
  display: flex;
  justify-content: space-between;
}

.hero-text {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.hero-text h1 {
  margin: 0;
  font-size: 48px;
  font-weight: bold;
  color: var(--text-color);
}

.hero-text p {
  font-size: 18px;
  color: var(--text-secondary-color);
}

.hero-text button,
.cta-container button {
  background-color: var(--secondary-color);
  padding: 8px 20px;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  color: var(--text-secondary-color);
  font-weight: bold;
}

.image-placeholder {
  height: 300px;
  width: 50%;
  background-color: rgba(255, 255, 255, 0.199);
  display: flex;
  align-items: center;
  justify-content: center;
}

.image-placeholder p {
  color: var(--text-secondary-color);
  text-align: center;
}

.information {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.information h2 {
  font-size: 36px;
  font-weight: bold;
  text-align: center;
  color: var(--main-color);
  margin: 60px 0;
}

.infos-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 60px;
}

.information-item {
  display: flex;
  flex-direction: column;
  width: 200px;
  height: auto;
  text-align: center;
}

.information-image {
  width: 100%;
  height: 200px;
  border: 4px solid var(--main-color);
  border-radius: 4px;
}

.quote {
  background-color: var(--text-secondary-color);
  padding: 50px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.quote h2 {
  color: var(--main-color);
  font-size: 36px;
  font-style: italic;
  font-weight: lighter;
}

.quote small {
  color: var(--main-color);
  font-size: 20px;
  font-weight: bold;
  text-align: right;
  margin-top: 20px;
  align-self: flex-end;
}

.quote-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px 0;
}

.call-to-action {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 90px 0;
}

.cta-container {
  width: 60%;
  padding: 30px 50px;
  max-width: 1200px;
  display: flex;
  background-color: #3882f6;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
}

.cta-text-container h4 {
  font-size: 20px;
  color: var(--text-color);
}

.cta-text-container p {
  font-size: 16px;
  color: var(--text-secondary-color);
}

.cta-container button {
  border: 2px solid var(--text-color);
}

footer {
  text-align: center;
  color: var(--text-secondary-color);
  padding: 20px 0;
}
